.container {
  overflow-y: hidden;
}

.input {
  margin: auto;
  justify-content: center;
  margin-bottom: 5%;
  display: flex;
  width: 60%;
}

.title {
  margin-top: 7%;
  margin-bottom: 5%;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(57, 4, 182);
}

.image {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.checkbox {
  align-items: center;
}
