/* LARGE SCREEN */

.container {
  overflow-y: hidden;
  height: 100%;
  justify-content: center;
}

.image {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(57, 4, 182);
}

.input {
  margin: auto;
  justify-content: center;
  margin-bottom: 10vh;
  display: flex;
  width: 70vw;
}

.checkboxGroup {
  display: flex;
  margin: auto;
  justify-content: center;
}

.checkbox {
  align-items: center;
  text-align: center;
  padding: 0 7px 0 7px;
  width: 10vw;
}

@media screen and (max-width: 425px) {
  .image {
    margin-top: 15%;
    display: flex;
    justify-content: center;
  }

  .title {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
      sans-serif;
    color: rgb(57, 4, 182);
  }

  .input {
    margin: auto;
    justify-content: center;
    margin-bottom: 15%;
    display: flex;
    width: 90vw;
  }

  .checkboxGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .checkbox {
    align-items: center;
    text-align: center;
    padding: 0 7px 0 7px;
    width: 10vw;
  }
}
