div.ui.cards {
  display: flex;
  justify-content: center;
  width: 220px;
}

.cardtest {
  overflow: hidden;
  width: auto;
  height: 250px;
  margin: 5px;
}

div.header {
  font-size: 14px;
}

div.description {
  font-size: 12px;
}
