.leftArrow {
  position: absolute;
}

.rightArrow {
  position: absolute;
}

.cards {
  justify-content: space-evenly;
}

h3 {
  padding-top: 2px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.imageIcon {
  margin-left: 5px;
}
