div.container.source {
  border: #61dafb 1px solid;
  border-radius: 10px;
  margin: 20px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  height: auto;
}

div.sourceContent {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

div.leftArrow {
  position: relative;
  margin: auto;
  padding: auto;
}
div.rightArrow {
  position: relative;
  margin: auto;
  padding: auto;
}

h3 {
  padding-top: 2px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.imageIcon {
  margin-left: 5px;
}
