.papaContainer {
  width: 100%;
  align-self: center;
}
#search {

  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#image {
  width: 100px;
  height: 100px;
}
#title {
  font-size: 23px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(57, 4, 182);

  margin: auto;
}

.iconTopBar {
  margin: 3px;
}
